<tr>
	<td class="contact">
		<span class="name<%= " important" if contact.important %>"><%= contact.name %></span>
	</td>
	<td><%= contact.contact_emails.map{ |ce| ce.email }.join(", ") %></td>
	<td><%= link_to "Details", :controller => "contacts", :action => "show", :id => contact.id  %></td>
</tr>