<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Privacy Policy", privacy_path %></li>
		</ul>
	</nav>
<% if signed_in? %>
	<br />
	<nav class="round">
		<ul>
			<li>Admin Options: </li>
			<li><%= link_to "Users", users_path %></li>
		</ul>
	</nav>
<% end %>
</footer>